.header {
  /* background-color: crimson; */
  background-image: url("https://thumbor.forbes.com/thumbor/711x399/https://specials-images.forbesimg.com/dam/imageserve/1128254839/960x0.jpg?fit=scale");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.navbar-wrapper {
  /* background-color: darkgoldenrod; */
  width: 100%;
  height: 50px;
}
.title-wrapper {
  /* background-color: darkgreen; */
  width: 100%;
  height: 250px;
  line-height: 250px;
  font-size: 75px;
  font-weight: bolder;
  color: white;
}
