.todo-entry {
  border: solid 1px black;
  display: flex;
  flex-flow: row;
}

.todo-entry .entry-cell {
  flex: 1 1 auto;
  background-color: lime;
}

.strikethrough {
  text-decoration: line-through;
}
input {
  height: 25px;
  width: 150px;
  font-size: 12px;
}
