.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.posts-wrapper {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
}

.posts-wrapper > * {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.single-post-wrapper {
  margin-bottom: 20px;
}

.new-post-wrapper {
  margin: 0 auto;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.new-post-wrapper .post-text-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.new-post-wrapper .post-text-wrapper textarea {
  width: 600px;
  height: 200px;
}

.new-post-wrapper .submit-button-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
